body {
    background-image: url("https://www.orientsoftware.com/Themes/Content/Images/blog/2024-03-26/rust-vs-cplusplus-about-rust.jpg");
    background-size: 100%;
    background-position: center;
    margin: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 60%;
    height: 40%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    border-radius: 28px;
}

.container p {
    flex-grow: 1;
    font-size: 72px;
    text-align: center;
    color: #fff;
}

.container button {
    font-size: 72px;
    border: none;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}